@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

%v_flex {
    display: flex;
    flex-direction: column;
}

%button {
    text-transform: uppercase;
    background-color: rgb(197, 19, 19);
    border: rgb(197, 19, 19);
    border-radius: 15px;
    color: white;
    padding: 10px;
    transition: background-color 0.3s;

    &:hover {
        cursor: pointer;
        background-color: rgba(197, 19, 19, 0.8);
    }
}

%elastic_pane {
    @extend %v_flex;
    background-color: maroon;
    border-radius: 15px;
    margin: 10px;
}

.brand-logo {
    margin-left: 10px;
}

.nav-wrapper {
    background-color: rgb(197, 19, 19);
}

.app {
    @extend %v_flex;
    height: 100vh;
    background-color: #282c34;
    font-size: calc(5px + 2vmin);
    color: white;
}

.content {
    @extend %v_flex;
    flex-grow: 1;
    overflow-y: auto;
}

.converter_box {
    @extend %v_flex;
    margin: auto;
    background-color: #5a5f6b;
    border-radius: 15px;

    label {
        color: white;
    }

    form {
        @extend %v_flex;
        align-items: center;
        row-gap: 10px;
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 10px;
        padding-right: 10px;

        select {
            background-color: rgb(197, 19, 19);
            color: white;
            border: rgb(197, 19, 19);
            border-radius: 15px;
            transition: background-color 0.3s;
            width: auto;

            &:hover {
                cursor: pointer;
                background-color: rgba(197, 19, 19, 0.8);
            }
        }
    }

    .result {
        align-self: center;
    }
}

input[type="submit"] {
    @extend %button;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

input[type="number"] {
    -moz-appearance: textfield;
    font-size: calc(5px + 2vmin) !important;
    transition: opacity 0.3s;
    color: white;

    &:focus {
        -moz-appearance: none;
        border-bottom-color: rgb(197, 19, 19) !important;
        box-shadow: none !important;
    }
}

.elastic_parent {
    @extend .converter_box;
    width: 80%;
    height: 60%;
    min-width: fit-content;
}

.elastic {
    display: flex;
    height: 100%;
    overflow-y: auto;

    .form_container {
        @extend %elastic_pane;
        width: 40%;
        min-width: fit-content;
    }

    .read {
        @extend %elastic_pane;
        width: 60%;
        div {
            overflow-y: auto;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        button {
            @extend %button;
            margin: auto 10px 10px;
            align-self: center;
        }
    }
}

.title {
    align-self: center;
    font-size: calc(12px + 2vmin);
}

.loader {
    margin: auto;
}

footer {
    margin-top: auto;
    text-align: center;
    background-color: maroon;
    font-size: 1.5rem;
}