@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@mixin vol($rad: 15px) {
    border-radius: $rad;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

%v_flex {
    display: flex;
    flex-direction: column;
}

%button {
    @include vol;
    text-transform: uppercase;
    background-color: rgb(197, 19, 19);
    border: rgb(197, 19, 19);
    color: white;
    padding: 10px;
    margin-top: auto;
    margin-bottom: 10px;
    align-self: center;
    transition: background-color 0.3s;

    &:hover {
        cursor: pointer;
        background-color: rgba(182, 0, 0, 0.7);
    }
}

%elastic_pane {
    @extend %v_flex;
    @include vol;
    background-color: rgba(183, 0, 0, 0.6);
    margin: 10px;
    row-gap: 10px;
}

span {
    margin-left: 2px;
    margin-right: 2px;
}

footer {
    margin-top: auto;
    text-align: center;
    background-color: maroon;
    font-size: 1.5rem;
}

.brand-logo {
    margin-left: 10px;
}

.nav-wrapper {
    background-color: rgb(197, 19, 19);
}

.app {
    @extend %v_flex;
    height: 100vh;
    min-height: 500px;
    background-color: #2c323b;
    font-size: calc(5px + 2vmin);
    color: white;
}

.content {
    @extend %v_flex;
    flex-grow: 1;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.converter_box {
    @extend %v_flex;
    @include vol;
    margin: auto;
    background-color: #5a5f6b;

    label {
        color: white;
    }

    form {
        @extend %v_flex;
        align-items: center;
        row-gap: 10px;
        margin-top: auto;
        padding-left: 10px;
        padding-right: 10px;

        select {
            @include vol;
            background-color: rgb(197, 19, 19);
            color: white;
            border: rgb(197, 19, 19);
            transition: background-color 0.3s;
            width: auto;

            &:hover {
                cursor: pointer;
                background-color: rgba(182, 0, 0, 0.7);
            }
        }
    }

    .result {
        align-self: center;
    }
}

input[type="submit"] {
    @extend %button;
}

input[type="number"] {
    -moz-appearance: textfield;
    font-size: calc(5px + 2vmin) !important;
    transition: opacity 0.3s;
    color: white;

    &:focus {
        -moz-appearance: none;
        border-bottom-color: rgb(197, 19, 19) !important;
        box-shadow: none !important;
    }
}

.elastic_parent {
    @extend .converter_box;
    width: 80%;
    height: 60%;
}

.elastic {
    display: flex;
    height: 100%;
    overflow-y: auto;

    .form_container {
        @extend %elastic_pane;
        width: 90%;
    }

    .read {
        @extend %elastic_pane;
        width: 90%;
        min-width: fit-content;
        min-height: 50%;
        flex-grow: 1;
        .tableCont {
            overflow-y: auto;
            margin-bottom: 5px;
            margin-top: 5px;
        }

        button {
            @extend %button;
        }
    }
}

.title {
    align-self: center;
    font-size: calc(12px + 2vmin);
}

.loader {
    @extend %v_flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

@media screen and (width < 768px) {
    .title {
        font-size: calc(8px + 2vmin);
    }

    .elastic_parent {
        height: 90%;
    }

    .elastic {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}