services:
  client:
    build: ./client
    networks:
      - net
    ports:
      - 3000:3000
    depends_on:
      - server
  server:
    build: ./server
    networks:
      - net
    ports:
      - 8080:8080
    environment:
      - APP_CONTAINER=true
    depends_on:
      - db
      - elastic
  db:
    image: postgres:alpine
    networks:
      - net
    expose:
      - 5432
    environment:
      - POSTGRES_DB=converterdb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=4444
  elastic:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.1.2
    volumes:
      - esdata:/data
    networks:
      - net
    ports:
      - 9200:9200
      - 9300:9300
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
networks:
  net: {}
volumes:
  esdata: {}