services:
  client:
    build: ./client
    networks:
      - net
    ports:
      - 3000:3000
    depends_on:
      - server
  server:
    build: ./server
    networks:
      - net
    ports:
      - 8080:8080
    environment:
      - APP_CONTAINER=true
    depends_on:
      - db
  db:
    image: postgres:alpine
    networks:
      - net
    expose:
      - 5432
    environment:
      - POSTGRES_DB=converterdb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=4444
networks:
  net: {}
